# Dependencies
node_modules/
/kureva-web/node_modules/
/kureva-api/vendor/

# Local databases
*.sqlite
/kureva-api/database/database.sqlite

# Build directories
.next/
out/
build/
/kureva-web/.next/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
